<h1>New Place</h1>

<%= form_with url: places_path, method: :post do %>
  <p>
    <label for="name">Name</label><br>
    <input id="name" name="name" type="text">
  </p>

  <p><button type="submit">Create place</button></p>
<% end %>

<p><%= link_to "Back to places", places_path %></p>
